<!-- Sidebar (le widget) -->
<div
	class="col-3">

	<!-- Code du widget -->
	<div id="widget">
		
		<!-- Si ville sélectionnée -->
        {% if widget  is defined %}
			<p>
				<b>{{widget.city}}</b>
			</p>
			<p>{{widget.date}}</p>
			<p><img src="{{ asset("images/")}}{{widget.weather}}.png"></p>
			<p>{{widget.min}}°C /
				{{widget.max}}°C</p>
		{% endif %}
		<!-- Si ville non sélectionnée -->
		<div>Sélectionnez une ville<br>dans la liste de gauche</div>

	</div>

</div>
